.navbar-custom {
    background-color:#333;
    color:#ffffff;
    border-radius:0;
}
.navbar-custom .navbar-nav > li > a {
    color:#fff;
}

.nav > li > a:focus, .nav > li > a:hover {
    color:#222;
}

.navbar-custom .navbar-nav > .active > a {
    color: #ffffff;
}

.navbar-custom .navbar-brand {
    color:#eeeeee;
}