body {
  color: #333;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  line-height: 1;
  margin-top: 0;
  text-rendering: optimizelegibility;
}

footer {
  background-color: #222;
  color: #fff;
  text-align: center;
  width: 100%;
  height: 40px;
  bottom: 0;
  position: fixed;
}

footer div {
  padding-top: 10px;
}

 /* ++++++++++++++ HOME ++++++++++++++++++ */
.navbar-custom {
  background-color:#333;
  color:#ffffff;
  border-radius:0;
}

.navbar-custom .navbar-nav > li > a {
  color:#fff;
}

.nav > li > a:focus, .nav > li > a:hover {
  color:#222;
}

.navbar-custom .navbar-nav > .active > a {
  color: #ffffff;
}

.navbar-custom .navbar-brand {
  color:#bbbbbb;
}

.signup-padding {
  padding-top: 80px;
  letter-spacing: -1px;
  text-align: center;
}

.signup h2 {
  color: #35393b;
  font-size: 3.6rem;
  font-weight: 100;
}

.signup p {
  color: #7d878a;
  font-size: 2rem;
  margin-top: 1.6rem;
}

.signup-form {
  padding-right: 5px;
}